*{
    box-sizing: border-box;
    font-family: "Segoe UI";
    padding: 0;
    margin: 0;
    text-align: center;
}

#container{
    width: 50%;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid #27ae60;
    border-radius: 17px;
    box-shadow: 2px 2px 2px #27ae60;
    padding-top: 30px;
    padding-bottom: 30px;
}

a{
    font-style: italic;
}

    a:link{

    }

table{
    display: table;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center !important;
    vertical-align: middle !important;
    border-radius: 11px;
}
    table > thead > tr > th{
        border: 1px solid #000;
        background-color: #27ae60;
        color: #fff !important;
        height: 50px;
    }

    table > thead > tr > th:nth-of-type(1){
        width: 20%;
    }

    table > thead > tr > th:nth-of-type(2){
        width: 30%;
    }

    table > thead > tr > th:nth-of-type(3){
        width: 50%;
    }

    table > tbody > tr{

    }

        table > tbody > tr:hover{
            background-color: #27ae60;
            color: #fff;
        }

    table > tbody > tr > td{
        border: 1px solid #000;
        height: 50px;
    }

