<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>User Management</title>
        <link type="text/css" rel="stylesheet" href="bootstrap.min.css"
              th:href="@{bootstrap.min.css}">
    </head>
    <body>
        <div class="col-3"></div>
        <div class="container col-6">
            <h1>User</h1>
            <div class="col-md-auto">
                <form th:object="${user}" method="POST" th:action="@{/save}">
                    <div>
                        <label th:text="Name" th:for="name"></label>
                        <input required type="text" class="form-control" th:field="*{name}" placeholder="Enter User Name"></input>
                    </div>
                    <div style="clear: both; display: block; height: 10px"></div>

                    <div>
                        <label th:text="Age" th:for="age"></label>
                        <input required type="number" class="form-control" th:field="*{age}" placeholder="Enter User Age"></input>
                    </div>
                    <div style="clear: both; display: block; height: 10px"></div>

                    <div>
                        <label th:text="Salary" th:for="salary"></label>
                        <input required type="number" class="form-control" th:field="*{salary}" placeholder="Enter User Salary"></input>
                    </div>
                    <div style="clear: both; display: block; height: 10px"></div>

                    <!--Submit Button-->
                    <input type="submit" value="Save" class="btn btn-info">
                    <input type="reset" value="Reset Form" class="btn btn-danger">
                </form>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="col-3"></div>
        <div class="container col-6">
            <h1>List of Users</h1>
            <div>
                <form method="GET" th:action="@{/search}">
                    <label th:text="Search" th:for="search"></label>
                    <input type="text" class="form-control" name="search" placeholder="Enter User Name to Search"></input>
                </form>
            </div>
            <table class="table table-active">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Salary</th>
                    <th>Option</th>
                </tr>
                <tr th:each="user: ${users}">
                    <td th:text="${user.id}"></td><br>
                    <td th:text="${user.name}"></td><br>
                    <td th:text="${user.age}"></td><br>
                    <td th:text="${user.salary}"></td><br>
                    <td>
                        <a th:href="@{/edit?id={id}(id=${user.id})}" class="btn btn-primary">Edit</a>
                        <a th:href="@{/delete?id={id}(id=${user.id})}" class="btn btn-danger">Remove</a>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>