<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title> Add User</title>
        <link type="text/css" rel="stylesheet" href="bootstrap.min.css"
              th:href="@{bootstrap.min.css}">
    </head>
    <body>
        <div class="col-3"></div>
        <div class="container col-6">

            <h1>Create new User</h1>
            <div class="col-md-auto">
                <form th:object="${user}" method="POST" th:action="@{save}">
                    <div>
                        <label th:text="Name" th:for="name"></label>
                        <input type="text" class="form-control" th:field="*{name}" placeholder="Enter User Name"></input>
                    </div>
                    <div style="clear: both; display: block; height: 10px"></div>

                    <div>
                        <label th:text="Email" th:for="email"></label>
                        <input type="text" class="form-control" th:field="*{email}" placeholder="Enter User Email"></input>
                    </div>
                    <div style="clear: both; display: block; height: 10px"></div>

                    <div>
                        <label th:text="Phone" th:for="phone"></label>
                        <input type="text" class="form-control" th:field="*{phone}" placeholder="Enter User Phone"></input>
                    </div>
                    <div style="clear: both; display: block; height: 10px"></div>

                    <!--Submit Button-->
                    <input type="submit" value="save" class="btn btn-success">
                </form>
            </div>
        </div>
    </body>
</html>