*{
    box-sizing: border-box;
    font-family: "Segoe UI";
    padding: 0;
    margin: 0;
    text-align: center;
}

    #container{
        width: 30%;
        height: 250px;
        margin: 0 auto;
        margin-top: 100px;
        border: 1px solid #27ae60;
        border-radius: 17px;
        box-shadow: 2px 2px 2px #27ae60;
        padding-top: 30px;
        padding-bottom: 30px;
    }

        #name-inp{
            width: 80%;
            color: #27ae60;
            border: 1px solid #27ae60;
            border-radius: 11px;
            padding: 10px 12px;
            transition: 0.25s;
            outline: none !important;
            margin-top: 20px;
            font-weight: bolder;
        }

            #name-inp:hover{
                transform: scale(1.1);
            }

        #submit-inp{
            width: 30%;
            color: #fff !important;
            border: 1px solid #27ae60;
            border-radius: 11px;
            padding: 10px 12px;
            transition: 0.25s;
            outline: none !important;
            margin-top: 30px;
            margin-bottom: 20px;
            font-weight: bolder;
            background-color: #27ae60;
        }

        #submit-inp:hover{
            transform: scale(1.1);
        }